<h1>New appointment</h1>
<%= form_for @appointment, url: { action: 'create' }, validate: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :starts_at %>
    <%= select_datetime Time.now, prefix: :appointment , order: %i[day month year hour minute], minute_step: 15 %>
  </div>

  <%= f.submit 'Create' %>
<% end %>