<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <title>ProjRails</title>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <% if key == 'success' %>
      <%= content_tag :div, value, class: "alert alert-success" %>
    <% elsif key == 'error' %>
      <%= content_tag :div, value, class: "alert alert-danger" %>
    <% else %>
      <%= content_tag :div, value, class: "alert alert-info" %>
    <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>